<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>{{about}}</p>
        <img src="/img/artworks-000326962218-u2hwrm-t500x500.jpg">
        {{>footer}}
    </body>
</html>