<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>{{about}}</p>
        <img src="/img/aboutPage.png">
        {{>footer}}
    </body>
</html>
